
	
	/***** Contact form *****/
#form1 {
	position:relative;
	vertical-align:top;
	z-index:1;
	font-family:Arial, Helvetica, sans-serif;
}

#form1 fieldset {
border:none;
padding:0;
}


#form1 label {display:block; min-height:42px; position:relative;width: 220px;}
#form1 label.message { height:173px; width:220px; }

#form1 input {
	outline: none;
	border:none;
	border-top: 1px solid #cccccc;
	color: #808183;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
	line-height:16px;
	box-shadow:0 3px 6px 2px #9A9A9A inset;
	padding: 7px 10px 6px;
    width: 200px;
	background:#dfdfdf;
	height:16px;
	line-height:16px;
	display:inline-block;
	border-radius:4px;
}
#form1 .area .error { float:none;}
#form1 textarea {	
	height:139px;
	margin:0;
	background:#dfdfdf;
	resize:none;
	outline: none;
	border:none;
	border-top: 1px solid #cccccc;
	padding: 7px 10px 6px;
    width: 200px;
	overflow:auto;
	line-height:16px;
	line-height:16px;
	color:#808183;
	border-radius:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	display:block;
	box-shadow:0 3px 6px 2px #9A9A9A inset;
}
#form1 a {cursor:pointer;}

element.style {
    display: block;
}
#form1 .success {
    color: #717171;
    display: none;
    font-size: 12px;
	font-weight:bold;
    left: 56px;
    position: absolute;
    top: -1px;
}
#form1 .error,
#form1 .empty {
	color:#f00;
	font-size:11px;
	line-height:1.25em;
	display:none;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:30px;
}
#form1 .message .error,
#form1 .message .empty  {
	left: 4px;
    top: 154px;
}

.p27 {
	margin-right:6px;
}

.text9 {
	display:block;
	color:#656565;
	line-height:18px;
	font-size:12px;
}

.link-form {
	float: right;
}